<div class="container">
    <img src="/assets/img/burger.png" alt="cheeseburger">

    <h1>Eat-Da-Burger!</h1>
    <div class="burger-view">
        <div class="uneaten">

            {{#each burger}}
            {{#unless devoured}}
            {{>burger_list eaten=false}}
            {{/unless}}
            {{/each}}

        </div>
        <div class="eaten">

            {{#each burger}}
            {{#if devoured}}
            {{>burger_list eaten=true}}
            {{/if}}
            {{/each}}

        </div>
    </div>
    <textarea name="burger" id="burger"></textarea>
    <button type="submit" id="submitBurger">Submit</button>
    <p>Enter a burger you want to eat Click the "Submit" button.</p>
</div>