.container {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

body{
    background-color: sandybrown;
}

#burger-img{
    width:15%;
}

.burger-view{
    width:60%;
    display: flex;
   margin: 0 auto;
}

.eaten{
    width: 50%;
}

.uneaten{
    width: 50%;
}

.burger-list{
    display: flex;
}

#burger{
    width:250px;
    height: 100px;
}

.devour{margin-left: 15px;}